aiohttp
aiosignal
asciitree==0.3.3
asttokens
attrs
boto3
botocore
Brotli
cachier
certifi
cdsapi
cftime
charset-normalizer
click
cloudpickle
colorama
comm
copernicusmarine
dask
debugpy
decorator
dnspython
exceptiongroup
executing
fasteners
frozenlist
fsspec
geopandas
idna
importlib_metadata
ipykernel
ipython
jedi
jmespath
jupyter_client
jupyter_core
locket
lxml
matplotlib-inline
msgpack
multidict
nest_asyncio
netCDF4
numcodecs
openpyxl
packaging
pandas
parso
partd
pexpect
pickleshare
platformdirs
portalocker
prompt_toolkit
psutil
ptyprocess
pure-eval
Pygments
pymongo
PySocks
pystac
python-dateutil
pytz
PyYAML
pyzmq
requests
s3transfer
semver
setuptools==70.1.0
six
sniffio
stack-data
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
wheel==0.43.0
xarray
yarl
zarr
zipp
numpy